<div class="item-container">
    <div class="item">
        <img src="../../../assets/lago.jpg" alt="Imagen">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque velit consequatur asperiores id a
            inventore voluptatem provident explicabo, omnis beatae facilis, eius culpa aliquid illum quasi totam
            voluptas molestiae!</p>
        <div class="btn-container">
                <button class="btn">CLICK AQUI</button>
        </div>

    </div>
</div>