<div class="main-container">
    <div class="main">
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>
        <div class="item">
            <app-item></app-item>
        </div>

    </div>
</div>